<div *ngIf="hero" class="container">
    <h3>{{hero.naam}}</h3>
    <form #form="ngForm" class="d-flex flex-column" novalidate>

        <div class="form-group d-flex justify-content-start">
            <label for="Naam" class="col-form-label w-25"> Naam: </label>
            <input id="Naam" type="text" class="form-control w-25" placeholder="Naam" [(ngModel)]="hero.naam" />
        </div>

        <div class="form-group d-flex justify-content-start">
            <label for="HP" class="col-form-label w-25"> Hit Points: </label>
            <input id="HP" type="number" class="form-control w-25" [(ngModel)]="hero.maxHP">
        </div>

        <div class="form-group d-flex justify-content-start">
            <label for="AC" class="col-form-label w-25"> Armor Class: </label>
            <input id="AC" type="number" class="form-control w-25" [(ngModel)]="hero.AC">
        </div>

        <div class="form-group d-flex justify-content-start">
            <label for="Init" class="col-form-label w-25"> Initiatief modifier: </label>
            <input id="Init" type="number" class="form-control w-25" [(ngModel)]="hero.Init">
        </div>
    </form>

    <button *ngIf="isNew" type="button" class="btn btn-primary" (click)="addHero()">
        <span class="glyphicon glyphicon-ok"> Hero opslaan</span>
    </button>

    <button *ngIf="!isNew" type="button" class="btn btn-primary" (click)="saveHero()">
        <span class="glyphicon glyphicon-ok"> Wijzigingen opslaan</span>
    </button>
</div>