<div class="btn-toolbar justify-content-start" role="toolbar">
    <button type="button" class="btn btn-secondary" [routerLink]="['/heroes', 'create']">
        Add hero
    </button>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="btn btn-secondary input-group-text" id="btnGroupAddon">Filter</div>
        </div>
        <input type="text" class="form-control" placeholder="Naam" [(ngModel)]="listFilter">
    </div>
</div>
<table class="table table-striped table-dark table-hover" *ngIf="filteredHeroes">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Naam</th>
            <th scope="col">
                <a (click)="sortByHP()">Hit Points</a>
            </th>
            <th scope="col">
                <a (click)="sortByAC()">Armor Class</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of filteredHeroes">
            <td>
                <a [routerLink]="['/heroes', hero.id]">{{hero.naam}}</a>
            </td>
            <td>{{hero.maxHP}}</td>
            <td>{{hero.AC}}</td>
            <button type="button" class="btn btn-default btn-sm" [routerLink]="['/heroes', hero.id, 'edit']">
                Wijzig
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="addToEncounter(hero)">
                Voeg toe
            </button>
        </tr>
    </tbody>
</table>