<header style="text-align:center">
  <img id="headerFoto" src="assets/stranger-games.png" alt="stranger-games">
</header>

<div class="wrapper">
  <section class="library">
    <library *ngIf="!gameService.showInitiative && !gameService.showFight"></library>
  </section>

  <section class="encounterDetail">
    <h1 class="encounterTitel">{{encounter?.encounterNaam}}</h1>

    <encounterdetail [encounter]="encounter" *ngIf="!gameService.showInitiative && !gameService.showFight"></encounterdetail>
    <roll-initiative [encounter]="encounter" *ngIf="gameService.showInitiative"></roll-initiative>
    <fight [encounter]="encounter" *ngIf="gameService.showFight"></fight>
  </section>
</div>

