#headerFoto{
    max-height: 120px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.library{
    width:50%;
}

.encounterDetail{
    width:50%;
}

.encounterTitel{
    color: rgb(33, 37, 41);
    font-family: serif;    
    text-shadow: 0 0 3px red, 0 0 5px #d91f26, 0 0 2px #FF0000, 0 0 5px #d91f26;
    text-decoration: underline;
    text-decoration-line: underline overline;
}