<table class="table table-striped table-dark table-hover" *ngIf="monsters">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Naam</th>
            <th scope="col"><a (click)="sortByHP()">Hit Points</a></th>
            <th scope="col"><a (click)="sortByAC()">Armor Class</a></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let monster of monsters">
            <td>
                <a [routerLink]="['/monsters', monster.id]">{{monster.naam}}</a>
            </td>
            <td>{{monster.maxHP}}</td>
            <td>{{monster.AC}}</td>
            <button class="btn btn-secondary btn-sm" [routerLink]="['/monsters', monster.id, 'edit']">
                Wijzig
            </button>
            <button class="btn btn-secondary btn-sm" (click)="addToEncounter(monster.id)">
                Toevoegen encounter
            </button>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-default" [routerLink]="['/monster', 'create']">
    <span class="glyphicon glyphicon-plus"> New monster </span>
</button>