<div class="btn-toolbar justify-content-start" role="toolbar">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="btn btn-secondary input-group-text" id="btnGroupAddon">Filter</div>
    </div>
    <input type="text" class="form-control" placeholder="Naam" [(ngModel)]="listFilter">
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item flex-column" *ngFor="let encounter of filteredEncounters">
    <div class="d-flex justify-content-between">
      <label class="w-25">
        <a [routerLink]="['/main', encounter.id]">{{encounter.encounterNaam}}</a>
      </label>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="deleteEncounter()">Verwijder</button>
      </div>
    </div>
  </li>
</ul>