<div class="btn-toolbar justify-content-start" role="toolbar">
  <filter (onChange)="performFilter($event)"></filter>
</div>

<ul class="list-group">
  <li class="list-group-item flex-column" *ngFor="let encounter of filteredEncounters">
    <div class="d-flex justify-content-between">
      <label class="w-25">
        <a [routerLink]="['/main', encounter.id]">{{encounter.encounterNaam}}</a>
      </label>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="deleteEncounter(encounter.id)">
            <span class="fa fa-trash-o"></span></button>
      </div>
    </div>
  </li>
</ul>