<h2>Fight</h2>

<div class="btn-group mb-2">
    <button class="btn btn-secondary" (click)="previous()">
        <span class="fa fa-step-backward"></span>
    </button>
    <button class="btn btn-secondary" (click)="next()">
        <span class="fa fa-step-forward"></span>
    </button>
</div>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let creature of sortedCreatures; let i = index" [ngClass]="{'active': i == idx, 'isInvisible': creature.isMonster && !creature.isVisible, 'isDying': creature.isDying, 'isDead':creature.isDead }">
        <small class="spelerNaam" *ngIf="!creature.isMonster">{{playerName}}</small>

        <label class="w-75">
            <button type="button" class="btn btn-secondary btn-sm" *ngIf="creature.isMonster" (click)="toggleVisibility(creature)">
                <span class="fa" [ngClass]="{ 'fa-eye-slash': !creature.isVisible, 'fa-eye': creature.isVisible}"></span>
            </button>
            <button type="button" class="btn btn-secondary btn-sm" *ngIf="!creature.isMonster" (click)="removeFromFight(creature)">
                <span class="fa fa-trash"></span>
            </button>
            {{creature.naam}} - {{creature.battleHP}}/{{creature.maxHP}}
        </label>

        <div class="progress mb-2">
            <div class="progress-bar" [ngClass]="getProgressClass(creature)" role="progressbar" [ngStyle]="{ 'width': getCurrentHealthPercentage(creature) }"></div>
        </div>

        <fight-toolbar [creatures]="getUseFullCreatures()" [creature]='creature' (onSubmitDamage)="onHealthNegativeChanged($event.amount, $event.target)"
            (onSubmitHeal)="onHealthPositiveChanged($event.amount, $event.target)" *ngIf="i == idx"></fight-toolbar>

        
    </li>
</ul>