<h6>Fight</h6>

<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let creature of sortedCreatures; let i = index"
        [ngClass]="{ 'active': i == idx, 'isInvisible': creature.isMonster && !creature.isVisible, 'isDying': creature.isDying }">
        <div class="d-flex flex-row justify-content-between">
            <label class="w-75">
                {{creature.naam}} - maxHP: {{creature.maxHP}} - battleHP: {{creature.battleHP}}
            </label>
            <small class="w-25" style="text-align: right" *ngIf="!creature.isMonster">
                Playernaam
            </small>
        </div>
        <div class="btn-group d-flex justify-content-end">
            <button *ngIf="creature.isMonster" (click)="toggleVisibility(creature)"> {{ creature.isVisible ? 'Maak ontzichtbaar': 'Maak zichtbaar'}} </button>
            <button *ngIf="!creature.isMonster" (click)=removeFromFight(creature)>verwijder</button>
        </div>
    </li>
</ul>

<div class="btn-group">
    <button class="btn btn-secondary" (click)="previous()">previous</button>
    <button class="btn btn-secondary" (click)="next()">next</button>
</div>

<label>Apply damage: </label>
<input type="number" min="0" max="20" placeholder="0" name="damage" (keyUp)="onHealthNegativeChanged($event, creature)">

<label>Healing power: </label>
<input type="number" min="0" max="20" placeholder="0" name="heal" (keyUp)="onHealthPositiveChanged($event, creature)">