<h6>Fight</h6>

<ul class="list-group">
    <li class="list-group-item progress" *ngFor="let creature of sortedCreatures; let i = index" 
    [ngClass]="{'active': i == idx, 'isInvisible': creature.isMonster && !creature.isVisible, 'isDying': creature.isDying }"
>
    <div class="d-flex flex-row justify-content-between progress-bar bg-danger" [style.width]="active ? 'creature.getCurrentHealth()' : '' ">
            <label class="w-75">
                {{creature.naam}} - {{creature.battleHP}}/{{creature.maxHP}}
            </label>
    
            <small class="w-25" style="text-align: right" *ngIf="!creature.isMonster">
                    {{_encounter.playerName}}
            </small>

        <fight-toolbar [monstersAliveAndVisible]="monstersAliveAndVisible" [heroesAlive]="heroesAlive" [creature]='creature' (onSubmitDamage)="onHealthNegativeChanged($event, creature.id)" (onSubmitHeal)="onHealthPositiveChanged($event, creature.id)" 
            (onClickToggleVisibility)="toggleVisibility($event)" (onClickRemoveFromFight)="removeFromFight($event)"
            *ngIf="i == idx"></fight-toolbar>
        </div>
    </li>
</ul>

<div class="btn-group">
    <button class="btn btn-secondary" (click)="previous()">
        <span class="fa fa-step-backward"></span>
    </button>
    <button class="btn btn-secondary" (click)="next()">
        <span class="fa fa-step-forward"></span>
    </button>
</div>



   <!-- [style.width]="active ? 'creature.getCurrentHealth()' : '' " -->