<h2>
    Roll initiative
</h2>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let creature of sortedCreatures;">
        <div class="d-flex flex-row justify-content-between">
            <label class="w-25">
                {{creature.naam}}
            </label>
            <label class="w-25">
                ({{creature.init}})
            </label>
            <div class="w-50">
                <input type="number" min="0" max="20" [ngModel]="getInitiative(creature)" (ngModelChange)="onInitiativeChanged($event, creature)">
                <span> {{getTotal(creature) | json}} </span>
            </div>
        </div>
    </li>
</ul>

<button (click)="gameService.initiativeDecided(initiativeNumbers)">Fight</button>