<table class="table table-striped table-dark table-hover" *ngIf="creatures">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Naam</th>
            <th scope="col">Hit Points</th>
            <th scope="col">Armor Class</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let creature of creatures">
            <td>
                <a [routerLink]="['/creature/detail', creature.id]">{{creature.naam}}</a>
            </td>
            <td>{{creature.maxHP}}</td>
            <td>{{creature.AC}}</td>
            <button type="button" class="btn btn-default btn-sm" [routerLink]="['/creatures/detail', creature.id, 'edit']">
                <span class="glyphicons glyphicons-pencil"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="addCreature(creature.id)">
                <span class="glyphicons glyphicons-plus"></span>
            </button>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-default" [routerLink]="['/creature/', 'create']">
    <span class="glyphicon glyphicon-plus"> New {{creature.isHero ? 'Hero' : 'Monster'}} </span>
</button>