<div class="btn-toolbar justify-content-start" role="toolbar">
    <button type="button" class="btn btn-secondary" [routerLink]="['create']">
        Add hero
    </button>
  
    <filter (onChange)="performFilter($event)"></filter>

</div>
<table class="table table-striped table-dark table-hover" *ngIf="filteredHeroes">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Naam</th>
            <th scope="col">
                <a (click)="sortByHP()">Hit Points</a>
            </th>
            <th scope="col">
                <a (click)="sortByAC()">Armor Class</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of filteredHeroes">
            <td>
                <a [routerLink]="[hero.id]">{{hero.naam}}</a>
            </td>
            <td>{{hero.maxHP}}</td>
            <td>{{hero.AC}}</td>
            <button type="button" class="btn btn-secondary btn-sm" [routerLink]="[hero.id, 'edit']">
                Wijzig
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="addToEncounter(hero)">
                Voeg toe
            </button>
        </tr>
    </tbody>
</table>