<div class="btn-toolbar justify-content-start" role="toolbar">
    <button type="button" class="btn btn-secondary" [routerLink]="['create']">
        Add monster
    </button>

    <filter (onChange)="performFilter($event)"></filter>

</div>
<table class="table table-striped table-dark table-hover" *ngIf="filteredMonsters">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Naam</th>
            <th scope="col">
                <a (click)="sortByHP()">Hit Points</a>
            </th>
            <th scope="col">
                <a (click)="sortByAC()">Armor Class</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let monster of filteredMonsters">
            <td>
                <a [routerLink]="[monster.id]">{{monster.naam}}</a>
            </td>
            <td>{{monster.maxHP}}</td>
            <td>{{monster.AC}}</td>
            <button class="btn btn-secondary btn-sm" [routerLink]="[monster.id, 'edit']">
                Wijzig
            </button>
            <button class="btn btn-secondary btn-sm" (click)="addToEncounter(monster)">
                Voeg toe
            </button>
        </tr>
    </tbody>
</table>
